:root{
    margin:20px;
    border-style: solid;
    border-color: black;
}
.black-border-mp{
    margin:10px;
    padding: 20px;
    border-style: solid;
    border-color: black;
}
.action-buttons{
    background:none;
    border:none;
    margin:0;
    padding:0;
}
